    
    body{
        text-align: center;
        background-color: rgb(8, 143, 184);
    }
    img{
        width: 70%;
    }
    h1{
        color: black;
        font-size: 350%;
    }
    p{
        font-size: 135%;
    }
    table{
    background-color: rgb(0, 0, 0);
}